<%= form_with(model: maintenance_log) do |form| %>
  <% if maintenance_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance_log.errors.count, "error") %> prohibited this maintenance_log from being saved:</h2>

      <ul>
        <% maintenance_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.number_field :date %>
  </div>

  <div class="field">
    <%= form.label :hoursUntilService %>
    <%= form.number_field :hoursUntilService %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
