<p id="notice"><%= notice %></p>

<! -- makes the page mobile friendly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<! -- style for div containers -->
<style>

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;

.divBox {
  border: 2px outset black;
}

.boxRed {
 border-width:3px;
 border-style:solid;
 border-color:#287EC7;
}

</style>


<! -- user add -->
<title>Cyclists Maintenance Tracker</title>

<! -- user add to make a description heading in a box -->
<h1 class= "boxRed">Below is a list of your currently tracked Logs</h1>


<! -- creates the layout of the data table for the information shown -->
<! -- changed the way that the table is displayed to be more readable -->
<table class="table table-striped">
  <thead>
    <tr>
      <th><u>Title</u></th>
      <th><u>Description</u></th>
      <th><u>Date</u></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.title %></td>
        <td><%= log.description %></td>
        <td><%= log.date %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
