<p id="notice"><%= notice %></p>

<style>

.divBlackBorder {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;

}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 

</style>

<h1> <u>Please update your log to the most accurate date and any other notes</u> </h1>

<div class= "divBlackBorder">
<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>
</div>

<div class= "divBlackBorder">
<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>
</div>

<div class= "divBlackBorder">
<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>
</div>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
