<!DOCTYPE HTML>
<html>
<head>

<p id="notice"><%= notice %></p>

<style>


.divBlackBorder {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;

}

a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 

body {
    background-color: rgb(240, 255, 255);
}


</style>
</head>
<body>

<h1> <u>Please update your log to the most accurate date and any other notes</u> </h1>

<div class= "divBlackBorder">
<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>
</div>

<div class= "divBlackBorder">
<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>
</div>

<div class= "divBlackBorder">
<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>
<p><u> Time Remaining:</u><p/>

<p id="demo"></p>

<script>
// Set the date we're counting down to
var countDownDate = new Date("May 12, 2023 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

</div>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>

</body>
</html>
