<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
